body {
  font-family: "Helvetica";
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(43, 43, 172) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 3px solid black;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #40c0f0;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

.hiti {
  width: 900px;
  min-height: 100vh;
}
.hyper {
  width: 500px;
  right: 0;
}
.row1 {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}
.data {
  height: 200px;
  width: 300px;
  margin-left: 90px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  padding-top: 5px;
}
h1 {
  text-decoration: underline;
}
input {
  width: 400px;
  border-radius: 4px silid black;
  border: 2px solid black;
  padding: 6px;
}
button:hover {
  background-color: rgb(177, 171, 171);
}
